<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inserirUsuario</servlet-name>
        <servlet-class>servlets.inserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisarUsuario</servlet-name>
        <servlet-class>servlets.pesquisarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarUsuario</servlet-name>
        <servlet-class>servlets.atualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirUsuario</servlet-name>
        <servlet-class>servlets.excluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserirFuncionario</servlet-name>
        <servlet-class>servlets.inserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisarFuncionario</servlet-name>
        <servlet-class>servlets.pesquisarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarFuncionario</servlet-name>
        <servlet-class>servlets.atualizarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarFuncionarios</servlet-name>
        <servlet-class>servlets.atualizarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirFuncionario</servlet-name>
        <servlet-class>servlets.excluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserirEspecialidades</servlet-name>
        <servlet-class>servlets.inserirEspecialidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirEspecialiddes</servlet-name>
        <servlet-class>servlets.excluirEspecialiddes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirEspacialidades</servlet-name>
        <servlet-class>servlets.excluirEspacialidades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inserirUsuario</servlet-name>
        <url-pattern>/inserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisarUsuario</servlet-name>
        <url-pattern>/pesquisarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarUsuario</servlet-name>
        <url-pattern>/atualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirUsuario</servlet-name>
        <url-pattern>/excluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserirFuncionario</servlet-name>
        <url-pattern>/inserirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisarFuncionario</servlet-name>
        <url-pattern>/pesquisarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarFuncionario</servlet-name>
        <url-pattern>/atualizarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarFuncionarios</servlet-name>
        <url-pattern>/atualizarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirFuncionario</servlet-name>
        <url-pattern>/excluirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserirEspecialidades</servlet-name>
        <url-pattern>/inserirEspecialidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirEspecialiddes</servlet-name>
        <url-pattern>/excluirEspecialiddes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirEspacialidades</servlet-name>
        <url-pattern>/excluirEspacialidades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
